@page "/region/delete/{RegionId:int}"

@inject IRegionService _regionService
@inject NavigationManager _navManager

<h3>Delete Region:</h3>
<h4 class="text-danger">Are you sure you want to DELETE this Region?</h4>
<hr />

<style>
	body {
		background-image: linear-gradient(#081252, #a79ecd);
	}

	h3 {
		color: #a79ecd;
	}

	form {
		padding-right: 5px;
	}

	.container {
		background-color: #a79ecd;
		padding: 3em;
		border-radius: 15px 50px;
	}
</style>

@if (errorMessage != null)
{
	<p class="text-danger">@errorMessage</p>
}

@if (regionDetail is null)
{
	<p class="text-warning">Sorry, there isn't any available info.</p>
}
else
{
	<div class="container">
		<div class="card">
			<div class="card-header d-flex justify-content-between">
				<span>Region #@regionDetail.Id</span>
				<span class="text-muted">@regionDetail.Name</span>
			</div>
		</div>
		<div class="d-flex justify-content-center mt-3">
			<EditForm Model="@regionDetail" OnValidSubmit="@DeleteRegion">
				<button type="submit" class="btn btn-danger mt-5">Delete</button>
			</EditForm>
			<a href="/region" class="btn btn-secondary btn-block mt-5">Back to List</a>
		</div>
	</div>

	
}

@code {
	[Parameter]
	public int RegionId { get; set; }

	public RegionDetail? regionDetail { get; set; }
	public string? errorMessage { get; set; }

	protected override async Task OnInitializedAsync()
	{
		regionDetail = await _regionService.GetRegion(RegionId);
	}

	public async Task DeleteRegion()
	{
		var isSuccess = await _regionService.DeleteRegion(RegionId);
		if (isSuccess)
			_navManager.NavigateTo("/region");
		else
		{
			errorMessage = "Deletion Failed.";
		}
	}
}