@page "/region/detail/{RegionId:int}"

@inject IRegionService _regionService
@inject NavigationManager _navManager

<h3>Region Details:</h3>
<hr />

@if (regionDetail is null)
{
	<p class="text-warning">Sorry, there isn't any available info.</p>
}
else
{
	<div class="container">
		<div class="card">
			<div class="card-header d-flex justify-content-between">
				<span>Region #@regionDetail.Id</span>
				<span class="text-muted">@regionDetail.Name</span>
			</div>
		</div>
		<div class="d-flex justify-content-center mt-3">
			<div class="text-center justify-content-between w-25">
				<a href="/region/edit/@regionDetail.Id" class="btn btn-outline-primary">Edit</a>
				<a href="/region/delete/@regionDetail.Id" class="btn btn-outline-danger">Delete</a>
			</div>
		</div>
	</div>
}

@code {
	[Parameter]
	public int RegionId { get; set; }
	private RegionDetail? regionDetail { get; set; }

	protected override async Task OnInitializedAsync()
	{
		regionDetail = await _regionService.GetRegion(RegionId);
	}
}
